.DS_Store
*.pyc
*.log
*.swp
*.retry
.env
*~
/logs
/data
.~*
common/CACHE
bakerydemo/settings/local.py
### btb_bakerydemodb I'm saving this in git to make rollback easy.  Just during development.
__pycache__
.vagrant/
/.vagrant/
/Vagrantfile.local
!.gitignore
